/* init */
* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: #8db385;
  background-image: url("https://thumbs.dreamstime.com/b/football-stadium-night-imaginary-modelled-rendered-213438356.jpg");
}
